body{
    margin: 0px;
    height: 0px;
}
.top{
    background-color: #861f41;
}
.logo{
    float: left;
    padding-top: 50px;
    padding-left: 10px;
    /* padding-bottom: 10px; */
    padding-right: 5px;
    width: 80px;
    height: 100px;
}

.txt{
    color: white;
}
.txt:hover{
    text-decoration: underline;
 color:green;

}
/* form */
.fr{
    width: 40%;
    height: 470px;
    border:none;
    border-radius: 10px;
    background-color: white;
    margin-left: 300px;
    margin-top: 150px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.logbt{
    margin-left: 180px ;
}